<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Northwind"
         connectionString="C:\VfpNetExamples\NorthwindData\Northwind.dbc"
         providerName="VfpClient"/>
    <add name="FreeTables"
         connectionString="C:\VfpNetExamples\FreeTables"
         providerName="VfpClient"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- Adding the VfpClient source will allow you to see all VFP commands in the Output panel. -->
      <source name="VfpClient" switchValue="Information" >
        <!-- This listener will trace VFP commands to a text file and is intended for use in production when troubleshooting an issue. -->
        <listeners>
          <add name="VfpClientTextWriterTraceListener"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="c:\VfpClient.txt" />
        </listeners>
      </source>
    </sources>
    <!-- Need to include the following when using VfpClientTextWriterTraceListener -->
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>